@import '../../../shared/styles/variables.scss';


.section-wrapper {
  background-image: url('../../../../assets/auth/login-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.auth-section {
  max-width: $sm;
  margin-top: $nav-heigth-big;
  margin-left: 600px;
  @media screen and (max-width: $md){
    top: $nav-heigth-small;
    margin: 0 auto;
  }

}

