* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea, input {
    width: 100%;
}

.invalid-feedback {
    color: brown;
    font-size: 0.8em;
}

.form-group {
    margin-bottom: 1em;
}

form {
    max-width: 400px;
    margin: 0 1em;
}

th, td {
    text-align: center;
}

.timer {
    position: absolute;
    width: 200px;
    left: 50%;
    top: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 6px -6px black;
    border-radius: 10px;
    background-color: orange;
}

.screen {
    user-select: none;
    border-radius: 10px;
    background-color: grey;
    font-size: 50px;
    text-align: center;
    width: 100%;
    box-shadow: 0 8px 6px -6px black;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.time-btn {
    box-shadow: 0 8px 6px -6px black;
    font-size: 0.9em;
    
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    background: none;
    border: none;
    shadow: none;
    padding: 10px;
    width: auto;
    background-color: red;
    box-sizing: border-box;
    margin: 2px;
}

button:active {
    box-shadow: inset 0 0 10px #000000;
}

button:focus {
    outline: none;
    border: 1px black solid;
    /* padding: 14px; */
}