@import './app/shared/styles/variables.scss';

.section {
  padding: 1em;
  margin: 1em;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  &__image {
    display: block;
    width: 30%;
  }

  &__text {
    font-size: 1.2em;
    margin: 0.5em;
    line-height: 1.3em;
  }

  &__image-left {
    float: left;
    margin-right: 1em;
  }

  &__image-right {
    float: right;
  }

  &__title {
    border-bottom: 1px solid $main-dark-blue;
    font-size: 2em;
    padding-bottom: 0.5em;
  }
}
