@import './app/shared/styles/variables.scss';
@import './app/shared/styles/blocks/section';
@import './app/shared/styles/blocks/details';
@import './app/shared/styles/blocks/form';
@import './app/shared/styles/blocks/arrow';
@import './app/shared/styles/blocks/duration';

.content-wrapper {
  padding: 0.5em;
}

.fas {
  margin-left: 0.2em;
  margin-right: 0.2em;
}


.price::after {
  content: ' ₴';
}

.top-loader-container {
  margin-top: 30px;
}
