@import './app/shared/styles/variables.scss';

.card {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
  padding: 1em;
  margin: 1em;
  // background-color: $main-dark-blue;
  // color: lighten($main-grey, 20);
  border-radius: 10px;

  &__image {
    display: block;
    // height: 100%;
    width: 30%;
  }

  &__image-left {
    float: left;
    margin-right: 1em;
  }

  &__image-right {
    float: right;
  }

  &__title {
    border-bottom: 2px solid $main-dark-blue;
    padding-bottom: 0.5em;
  }
}
