@import '../../../../shared/styles/variables.scss';

.film-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 1 / 5;

  @media screen and (max-width: $md) {
    grid-column: 1 / 6;
  }

  @media screen and (max-width: ($md + $sm) / 2) {
    grid-column: 1 / 13;
  }
}

.film-details {
  grid-area: details;
  grid-row: 1 / 2;
  grid-column: 5 / 13;
  @media screen and (max-width: $md) {
    grid-column: 6 / 13;
  }

  @media screen and (max-width: ($md + $sm) / 2) {
    grid-row: 2 / 3;
    grid-column: 1 / 13;
  }
}

.section-date {
  grid-column: 1 / 5;
  @media screen and (max-width: $md) {
    grid-column: 1 / 7;
  }

  @media screen and (max-width: ($md + $sm) / 2) {
    grid-column: 1 / 13;
  }
}

.section-session {
  grid-column: 5 / 13;
  @media screen and (max-width: $md) {
    grid-column: 7 / 13;
  }

  @media screen and (max-width: ($md + $sm) / 2) {
    grid-column: 1 / 13;
  }
}

.section-comments {
  grid-column: span 12;
}

.comments {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
}

.comment {
  display: flex;
  margin: 20px 0;

  &__author {
    font-weight: bold;
    margin-right: 15px;
  }

  &__text {
    white-space: pre-wrap;
    margin-top: 10px;
  }

  &__heading {
    display: flex;
  }

  &__info {
    margin-left: 10px;
  }
}

.film-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  padding: 0;
}

.duration {
  &__text {
    font-size: .8em;
    color: $main-dark-blue;

    &::after {
      content: ' m';
    }
  }
}
