$orange: rgb(170, 63, 31);
$sm: 600px;

.header {
    background-color: #333;
    color: darken($color: white, $amount: 20);
}

.nav {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 3em;
    
    &__items {
        margin: 0;
        display: flex;
        list-style: none;
        padding: 0;
        @media screen and (mAx-width: $sm) {
            display: none;
            flex-direction: column;
        }

        &-active {
            display: block;
            transition: all 0.2s;
        }
    }
    
    &__toggle {

        $toggle-width: 2em;
        transition: all 0.2s;
        display: none;
        content: '';
        width: $toggle-width;
        height: 4px;
        background-color: darken($color: white, $amount: 20);
        position: absolute;
        right: 1em;
        top: 1.4em;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
        }

        &::before, &::after {
            cursor: pointer;
            content: '';
            display: block;
            background-color: darken($color: white, $amount: 20);
            border-radius: 5px;
            width: $toggle-width;
            height: 4px;
        }

        &::before {
            transform: translateY(-10px);
        }
        &::after {
            transform: translateY(6px);
        }
        @media screen and (mAx-width: $sm) {
            display: block;
        }
    }

    &__item {
        padding: 1em 1.3em;
        font-weight: bold;

        &:hover {
            cursor: pointer;
            color: $orange;
            background-color: lighten($color: black, $amount: 10);
        }
    }
}
