<footer class="section section-transparent">
  <p class="footer__text text-center">©Copyright Nothing entertainment</p>
  <p class="footer__text text-center">Andrii Koval Inc.</p>
  <p class="footer__text text-center">Join us!
    <a href="https://www.instagram.com/koval_ez/" class="social-link" target="blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/ander.ziovio/" class="social-link" target="blank"><i class="fab fa-facebook"></i></a>
    <a href="https://t.me/ZioSmith" class="social-link" target="blank"><i class="fab fa-telegram"></i></a>
  </p>
</footer>
