@import '../../../shared/styles/variables.scss';

.footer {
  background-color: $color-bg;
  z-index: -1;

  &__text {
    margin: 0.3em;
  }
}

.social-link {
  font-size: 1.3em;
  margin-left: 0.3em;
}
