<div class="toasts">
  <ul class="toasts__list">

    <li class="toasts__item" *ngFor="let toast of this.toastService.toasts | async; trackBy:trackByFn">
      <div class="toast {{getToastClassModifier(toast.type)}}" >
        <div class="toast__title">
          {{toast.title}}
        </div>
        <div class="toasts__text">
          {{toast.message}}
        </div>
      </div>
    </li>

    <!-- <li class="toasts__item">
      <div class="toast toast-success">
        <div class="toast__title">
          Success title
        </div>
        <div class="toast__text">
           Success text
        </div>
      </div>
    </li>

    <li class="toasts__item">
      <div class="toast toast-info">
        <div class="toast__title">
          Info title
        </div>
        <div class="toast__text">
          Info text
        </div>
      </div>
    </li> -->

  </ul>
</div>
