@import '../../shared/styles/variables.scss';

.toasts {
  position: fixed;
  top: 100px;
  width: 300px;
  right: 30px;

  &__list {
    list-style: none;
  }

}

.toast {

  width: 100%;
  margin-bottom: 10px;
  color: white;
  padding: 10px;
  border-radius: 5px;

  &__title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: .5em;
  }

  &-success {
    background-color: desaturate($color-success, 20);
  }

  &-warning {
    background-color: desaturate($color-warning, 15);
  }

  &-info {
    background-color: $color-info;
  }
}
