@import '../../shared/styles/variables.scss';

.toasts {
  position: fixed;
  top: 100px;
  width: 300px;
  right: 30px;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
  }

}

.toast {

  width: 100%;
  margin-bottom: 10px;
  color: white;
  padding: 10px;
  border-radius: 5px;

  animation: slide-in .4s ease-in-out;

  &__title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: .5em;
  }

  &-success {
    background-color: desaturate($color-success, 20);
  }

  &-danger {
    background-color: desaturate($color-warning, 15);
  }

  &-info {
    background-color: $color-info;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(0%);
  }
}
