@import './fixed-lines.scss';

.news {

    &__ul {
      padding-left: 0;
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin-top: 8px;
    }
  
    grid-row: 2 / 2;
    grid-column: 1 / 1;
  
    &__item {
      margin: 0;
      width: 140px;
    }
  
    &__details {
      $font-size: 14px;
      $line-height: 18px;
      @include fixed-lines($font-size, $line-height, 4);
      color: $main-grey;
      font-family: $font-primary;
      font-weight: 400;
      overflow: hidden;
    }
  
    &__heading {
      display: flex;
    }
  
    &__image {
      $height: 88px;
    }
  
  }
  