@import './style.scss';
@import './variables.scss';
@import './upper.scss';
@import './nav.scss';
@import './video.scss';
@import './mics.scss';
@import './footer.scss';

img {
    margin: 0;
    max-width: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}