@import './variables.scss';
@import './line.scss';


.misc {
  grid-column-start: 1;
  grid-column-end: 3;

  z-index: 1;

  $image-height: 94px;

  height: 220px;

  &__heading {
    display: flex;
    flex-direction: row;
  }

  &__caroosel {
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
  }

  .counter {
    font-size: 3em;

    &__right,
    &__left {
      position: absolute;
      z-index: 10;
      height: 92%;
      width: 60px;
      text-align: center;
      background-color: transparentize(white, 0.2);
      line-height: 140px;
    }

    &__right {
      right: 0;
    }

    &__left {
      left: 0;
    }
  }

  &__items {
    z-index: 2;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    overflow-y: scroll;
    padding-left: 60px;
    padding-right: 60px;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: rgba($color: #000000, $alpha: 0);
  }

  &__item {
    z-index: 3;
    margin: 0;
    min-width: 138px;
    margin-right: 10px;
    margin-left: 10px;
  }

  &__item-image {
    overflow: hidden;
    height: $image-height;
  }

  &__item-caption {
    margin-bottom: 0.5em;
    font-size: 14px;
    color: $main-red;
    font-family: "PT Sans";
  }

  &__item-text {
    color: #5788d3;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    height: 4em;
  }

  &__link {
    text-decoration: none;
  }

  @include line(2px);
}