@import './variables.scss';
@import './line.scss';


.misc {
  grid-column-start: 1;
  grid-column-end: 3;

  z-index: 0;

  $image-height: 94px;

  height: 210px;

  &__heading {
    display: flex;
    flex-direction: row;
  }

  &__caroosel {
    display: flex;
    height: 165px;
  }

  .counter {
    font-size: 3em;
    z-index: 2;
    &__right,
    &__left {
      position: relative;
      height: $image-height;
      width: 5%;
      text-align: center;
      line-height: $image-height;
    }
  }

  &__items {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: -20px;
    overflow: hidden;
  }

  &__item {
    z-index: 1;
    margin: 0;
    min-width: 138px;
    margin-right: 10px;
    margin-left: 10px;
  }

  &__item-image {
    overflow: hidden;
    height: $image-height;
  }

  &__item-caption {
    margin-bottom: 0.5em;
    font-size: 14px;
    color: $main-red;
    font-family: "PT Sans";
  }

  &__item-text {
    color: #5788d3;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    max-height: 3.9em;
  }

  &__link {
    text-decoration: none;
  }
  @include line(2px);
}