@import './line.scss';

.nav,
.nav__ul {
    display: flex;
}

.nav {
    justify-content: space-between;

    height: 27px;
    line-height: 27px;

    &__ul {
        margin: 0;
        padding-left: 0;
    }

    &__item {
        list-style: none;
        padding-right: 20px;
        font-size: 17px;
        color: lighten($color: #000000, $amount: 20);
    }


    a {
        text-decoration: none;
    }

    &__line {
        @include line(2px);
    }
}