@import './line.scss';
@import './variables.scss';

.nav,
.nav__ul {
  display: flex;
}

.nav {
  justify-content: space-between;

  height: 27px;
  line-height: 27px;

  &__ul {
    margin: 0;
    padding-left: 0;
  }

  &__item {
    list-style: none;
    padding-right: 20px;
    font-size: 17px;
    color: $main-grey;
    font-family: "PT Sans";
  }


  a {
    text-decoration: none;
    &:visited {
      color: $main-grey;
    }
  }

  @include line(2px);
}