@import './variables.scss';

.upper, .page-wrapper {
  margin: 0 auto;
  max-width: $max-width;
}


.main {
  margin-top: 30px;
  display: grid;
  grid-template-rows: minmax(auto, 257px) 300px;
  grid-template-columns: minmax(auto, 620px) 300px;
}

