.upper {

    &__wrapper { 
      height: 25px;
      line-height: 25px;
      background: #000;
    }
  
    &__content {
      margin-left: auto; 
      display: flex;
      color: #c4bcbc;
      float: right;
    }
  
    &__link {
      padding-right: 20px;
    }
  
    &__icon {
      color: #333333;
      padding-left: 10px;
    }
  
  }