@import './variables.scss';

.btn {
  padding: 7px 10px;
  margin-top: 8px;
  margin-bottom: 8px;

  cursor: pointer;
  transition: 0.2s;

  border-width: 2px;
  border-style: solid;
  border-radius: 0.2em;
  border-color: $main-black;

  &:hover, &[class*=active] {
    background: white !important;
    color: black;
  }

  &:disabled {
    cursor: default;
    &:hover {
      background-color: initial;
    }
  }

  &-block {
    display: block;
    width: 100%;
  }

  &-primary {
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;

    &:hover, &[class*=active] {
      color: $color-primary;
    }

    &:disabled {
      &:hover {
        background-color: $color-primary;
        color: white;
      }
    }
  }

  &-secondary {
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: white;

    &:hover, &[class*=active] {
      color: $color-secondary;
    }

    &:disabled {
      &:hover {
        background-color: $color-secondary;
        color: white;
      }
    }
  }

  &-info {
    background-color: $color-info;
    border-color: $color-info;
    color: white;

    &:hover, &[class*=active] {
      color: $color-info;
    }

    &:disabled {
      &:hover {
        background-color: $color-info;
        color: white;
      }
    }
  }
}




