$main-grey: #e2e6e7;
$main-black: #1e1b26;
$main-dark-blue: #003459;


$color-primary: rgb(30, 137, 187);
$color-secondary: $main-dark-blue;
$color-info: $main-dark-blue;
$color-warning: rgb(184, 34, 34);
$color-success: rgb(20, 180, 41);
$color-bg: $main-grey;

$nav-heigth-small: 48px;
$nav-heigth-big: 58px;
$sm: 600px;
$md: 1200px;
