@import '../../shared/styles/variables.scss';

.auth-section-wrapper {
  background-image: url("../../../assets/auth/login-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}

.auth-section {
  max-width: $sm;
  margin-top: $nav-heigth-big;
  margin-left: 600px;
  @media screen and (max-width: $md) {
    margin: 0 auto;
  }
}

.social-btns {
  display: flex;
  justify-content: center;
}
