<app-carousel></app-carousel>
<div class="content-wrapper">
  <section class="section">
    <h2 class="section__title">
      Watch new releases just at the time they come out in the world!
    </h2>
    <ul class="newest-films">
      <app-loader *ngIf="filmsLoading" heigth="100px"></app-loader>
      <li *ngFor="let film of newestFilms | async" class="newest-films__film-li">
        <app-film-card class="newest-films__film" [film]="film"></app-film-card>
      </li>
    </ul>
  </section>

  <section class="section">
    <h2 class="section__title">Raise you emotions form the movie</h2>
    <p class="section__text">
      Whant to watch some movies? You have made a right choice. Join us, become our beloved visitor and don't forget to
      bring a smile with you =)
      Take your friends, parents, honeys and let's go to us!
    </p>
    <p class="section__text">
      We provide any kind and genres of movies from family catroon to stunning thrillers with R rating. All this is
      provided by a high resolution innovative
      projectors which make you movie experience unforgettable
    </p>
  </section>

  <section class="section">
    <h2 class="section__title">
      Our rooms
    </h2>
    <app-loader *ngIf="roomsLoading" heigth="100px"></app-loader>
    <ul class="section__items">
      <li class="section__item section section-row" *ngFor="let room of rooms | async;trackBy:trackByFn">
        <div class="section__image">
          <img src="{{room.photoUrl}}" class="section__img" alt="{{room.name}} room"/>
        </div>
        <div class="section__body">
          <div class="section__title">{{room.name}}</div>
          <p class="section__text">{{room.bio}}</p>
        </div>
      </li>
      <!-- <li class="section__item section section-row">
        <img class="section__image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSZV0-YRqmah4mHG7c5onOLaBpOYFhdB-d5mVN0g6vjKUT0De6d&usqp=CAU" />
        <div class="section__body">
          <div class="section__title">Room1</div>
          <p class="section__text">SOme room wow coool!! coool!!coool!!coool!!coool!!coool!!coool!!coool!!</p>
        </div>
      </li>
      <li class="section__item section section-row">
        <img class="section__image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSZV0-YRqmah4mHG7c5onOLaBpOYFhdB-d5mVN0g6vjKUT0De6d&usqp=CAU" />
        <div class="section__body">
          <div class="section__title">Room1</div>
          <p class="section__text">SOme room wow coool!! coool!!coool!!coool!!coool!!coool!!coool!!coool!!</p>
        </div>
      </li>
      <li class="section__item section section-row">
        <img class="section__image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSZV0-YRqmah4mHG7c5onOLaBpOYFhdB-d5mVN0g6vjKUT0De6d&usqp=CAU" />
        <div class="section__body">
          <div class="section__title">Room1</div>
          <p class="section__text">SOme room wow coool!! coool!!coool!!co
            ool!!coool!!coool!!coool!!coool!!</p>
        </div>
      </li> -->
    </ul>
  </section>
</div>
