<app-carousel></app-carousel>
<section class="section">
      <h2 class="section__title">Raise you emotions form the movie</h2>
      <p class="section__text">
        Whant to watch some movies? You have made a right choice. Join us, become our beloved visitor and don't forget to bring a smile with you =)
        Take your friends, parents, honeys and let's go to us!
      </p>
      <p class="section__text">
        We provide any kind and genres of movies from family catroon to stunning thrillers with R rating. All this is provided by a high resolution innovative
        projectors which make you movie experience unforgettable
      </p>

</section>

<section class="section">
  <h2 class="section__title">
    Watch new releases just at the time they come out in the world!
  </h2>
  <ul class="newest-films">
    <li *ngFor="let film of newestFilms | async" class="newest-films__film-li">
      <app-film-card class="newest-films__film" [film]="film"></app-film-card>
    </li>
  </ul>
</section>
