.upper,
.page-wrapper {
  margin: 0 auto;
  max-width: 940px;
}

.main {
  margin-top: 30px;
  display: grid;
  grid-template-rows: minmax(auto, 252px) 300px auto;
  grid-template-columns: 640px 300px;
}

.main-article {
  display: flex;
  background-color: #f7f9fa;
  height: 250px;
  max-width: 100%;
  margin-bottom: 30px;
  border-bottom: 5px solid #c80000;
}
.main-article__image {
  min-width: 380px;
}
.main-article__image img {
  width: 100%;
  height: 100%;
}
.main-article__caption {
  font-size: 30px;
  color: #c80000;
  font-family: "PT Serif";
  font-weight: 400;
  margin: 0;
  margin-bottom: 15px;
  cursor: pointer;
}
.main-article__caption:hover {
  color: #f10000;
}
.main-article__content {
  padding: 20px;
  position: relative;
}
.main-article__counter {
  position: absolute !important;
  right: 10px !important;
  bottom: 10px !important;
  float: right;
}

.counter {
  display: flex;
  position: relative;
  bottom: -25px;
  font-size: 1.5em;
  color: #c80000;
}
.counter__value {
  font-size: 18px;
  letter-spacing: 0px;
  color: #333333;
  font-family: "PT Sans";
  font-weight: 700;
  margin-right: 3px;
  margin-left: 3px;
}
.counter__right:hover, .counter__left:hover {
  cursor: pointer;
  color: #ff2f2f;
}

.article__text {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  font-family: "PT Sans";
  font-weight: 400;
  max-height: 90px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.news {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
}
.news__ul {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 8px;
}
.news__item {
  margin: 0;
  width: 140px;
}
.news__details {
  height: 70px;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  font-family: "PT Sans";
  font-weight: 400;
  overflow: hidden;
}
.news__heading {
  display: flex;
}
.heading-underlined h4 {
  margin: 0;
  padding-right: 10px;
  white-space: nowrap;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #333333;
  font-family: "PT Sans";
  font-weight: 400;
}
.heading-underlined__line {
  border-bottom: 2px solid #333333;
  content: "";
  width: 100%;
  margin-bottom: 0.4em;
}

.upper__wrapper {
  height: 25px;
  line-height: 25px;
  background: #000;
}
.upper__content {
  margin-left: auto;
  display: flex;
  color: #c4bcbc;
  float: right;
}
.upper__link {
  color: #c4bcbc;
  padding-right: 20px;
  text-decoration: none;
}
.upper__link:hover {
  color: white;
}
.upper__icon {
  cursor: pointer;
  color: #4d4d4d;
  padding-left: 10px;
}
.upper__icon:hover {
  color: #999999;
}

.nav,
.nav__ul {
  display: flex;
}

.nav {
  justify-content: space-between;
  height: 27px;
  line-height: 27px;
  border-bottom: 2px solid #333333;
  content: "";
  width: 100%;
}
.nav__ul {
  margin: 0;
  padding-left: 0;
}
.nav__item {
  list-style: none;
  padding-right: 20px;
  font-size: 17px;
  color: #333333;
  font-family: "PT Sans";
}
.nav__item:hover {
  text-decoration: underline;
}
.nav a {
  text-decoration: none;
  color: #333333;
}
.nav a:visited {
  color: #333333;
}
.nav__button {
  cursor: pointer;
}

.video {
  margin-left: 20px;
}
.video__ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.video__heading {
  display: flex;
}
.video__heading h4 {
  text-transform: uppercase;
  color: #6a0099;
  margin: 0;
  margin-left: 0.4em;
  margin-right: 0.4em;
  font-family: "PT Sans";
}
.video__line-left, .video__line-right {
  border-bottom: 2px solid #333333;
  content: "";
  width: 100%;
  margin-bottom: 0.5em;
}
.video__item {
  margin: 0;
  height: 85px;
  display: flex;
  margin-bottom: 10px;
}
.video__item:hover {
  cursor: pointer;
}
.video__image {
  min-width: 140px;
  padding-top: 0.1em;
}
.video__text {
  overflow: hidden;
  padding-left: 10px;
  font-size: 14px;
  color: #333333;
  font-family: "PT Sans";
  font-weight: 700;
  max-height: 85%;
}
.video__play-btn {
  position: relative;
  color: white;
  width: 21px;
  height: 16px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid white;
  left: 5px;
  bottom: 28px;
}
.video__play-btn::after {
  display: block;
  position: relative;
  background-image: url("../../img/play-btn.png");
  background-repeat: no-repeat;
  content: "";
  width: 21px;
  height: 16px;
}
.video__more-videos-link {
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #5788d3;
  font-family: "PT Sans";
  font-weight: 400;
}
.video__bottom-line {
  margin-top: 0.4em;
  border-bottom: 4px solid #333333;
  content: "";
  width: 100%;
}

.misc {
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 1;
  height: 220px;
  border-bottom: 2px solid #333333;
  content: "";
  width: 100%;
}
.misc__heading {
  display: flex;
  flex-direction: row;
}
.misc__caroosel {
  display: flex;
  justify-content: space-around;
  margin-top: -20px;
}
.misc .counter {
  font-size: 3em;
}
.misc .counter__right, .misc .counter__left {
  position: absolute;
  z-index: 10;
  height: 92%;
  width: 60px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 140px;
}
.misc .counter__right {
  right: 0;
}
.misc .counter__left {
  left: 0;
}
.misc__items {
  z-index: 2;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  overflow-y: scroll;
  padding-left: 60px;
  padding-right: 60px;
}
.misc ::-webkit-scrollbar {
  width: 0px;
  background: rgba(0, 0, 0, 0);
}
.misc__item {
  z-index: 3;
  margin: 0;
  min-width: 138px;
  margin-right: 10px;
  margin-left: 10px;
}
.misc__item-image {
  overflow: hidden;
  height: 94px;
}
.misc__item-caption {
  margin-bottom: 0.5em;
  font-size: 14px;
  color: #c80000;
  font-family: "PT Sans";
}
.misc__item-text {
  color: #5788d3;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  height: 4em;
}
.misc__link {
  text-decoration: none;
}

.footer {
  background: #f7f9fa;
  padding-top: 50px;
}
.footer__copiright {
  color: #333333;
  font-family: "PT Sans";
  font-weight: 400;
}
.footer__links {
  display: flex;
  list-style: none;
  padding: 0;
}
.footer__link {
  text-decoration: none;
  margin-right: 1em;
  color: #5788d3;
}
.footer__link:visited {
  color: #5788d3;
}

@media screen and (max-width: 940px) {
  .main {
    grid-template-rows: minmax(auto, 257px) auto auto auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .main-article {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .news {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .news__ul {
    flex-direction: column;
  }
  .news__item {
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .news__details {
    width: 60%;
    padding-left: 1em;
  }
  .news__image {
    width: 140px;
  }

  .video {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .misc__item {
    width: 15%;
  }
  .misc__item-image {
    margin-top: auto;
    margin-bottom: auto;
  }
  .misc__item-image img {
    display: block;
    max-width: 230px;
    max-height: 95px;
    width: auto;
    height: auto;
  }

  .feedback {
    display: none;
  }
}
.feedback {
  cursor: pointer;
  position: fixed;
  right: -36px;
  bottom: 50vh;
  transform: rotate(-90deg);
  opacity: 1;
  background-color: #BFBFC0;
  color: white;
  font-size: 11px;
  font-family: "PT Sans";
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 13px;
  padding-left: 13px;
}
.feedback:hover {
  background: #d9d9d9;
  transition: 0.1s;
}

img {
  margin: 0;
  max-width: 100%;
}

p {
  margin: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  z-index: 0;
}

/*# sourceMappingURL=style.css.map */
