.img {
  width: 100%;
}


.main {
  max-width: 600px;
  margin: 0 auto;
}

.main__image {
  margin: 0 auto;
}

.form .input-group-prepend {
  width: 35%;
}

.input-group-text {
  width: 100%;
}

.form-group input.invalid {
  box-shadow: 1px 0px 11px 7px rgba(204, 0, 0, 0.93);
}