@import '../../../../shared/styles/variables.scss';

.contacts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: $md) {
    grid-template-columns: 1fr;
  }
}


