<div class="content-wrapper" (window:resize)="onResize()">
  <div class="contacts-grid">
    <section class="section">
      <h2 class="section__title">
        Any questions? Leave your feedback
      </h2>
      <form class="form" [formGroup]="this.feedbackForm" (submit)="this.onSubmit(this.feedbackForm.value)">
        <div class="form__group">
          <input placeholder="Your name" type="text" class="form__control" id="name" formControlName="name"
            [class.invalid]="this.nameControl.invalid && this.nameControl.touched">
          <input type="email" placeholder="Your email" class="form__control" formControlName="email"
            [class.invalid]="this.emailControl.invalid && this.emailControl.touched">
          <p class="form__feedback text-danger" *ngIf="this.emailControl.invalid && this.emailControl.dirty">Invalid
            email</p>
        </div>
        <div class="form__group">
          <textarea placeholder="Tell us anything =)" class="form__control" formControlName="message" rows="4"
            [class.invalid]="this.messageControl.invalid && this.messageControl.touched">
        </textarea>
          <p class="form__feedback text-danger" *ngIf="this.messageControl.invalid && this.messageControl.dirty">
            Enter feedback</p>
        </div>

        <p class="form__feedback text-success" *ngIf="this.feedbackAdded">
          Thanks for your feedback. We will contact you
        </p>

        <button type="submit" class="btn btn-primary btn-block">
          <ng-container *ngIf="(this.feedbackService.feedbackLoading | async); else elseButton">
            <app-loader></app-loader>
          </ng-container>
          <ng-template #elseButton>
            Send feedback
          </ng-template>
        </button>
      </form>
    </section>

    <section class="section">
      <h2 class="section__title">Visit us<i class="fas fa-map-marker-alt"></i> </h2>
      <p class="section__text">
        <i class="fas fa-map-marked-alt"></i> Kiyv, Dream Town 2, Obolonsky Ave. 21-b
      </p>
      <div class="map-container d-flex justify-content-around">
        <!-- <google-map [width]="this.mapsWigth" [height]="this.mapsHeigth"></google-map> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2536.9331161799705!2d30.496419415733705!3d50.516811279484585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d26aba955555%3A0x596874eb887515ad!2z0J7QsdC-0LvQvtC90YHQutC40Lkg0L_RgNC-0YHQvy4sIDIxYiwg0JrQuNC10LIsIDA0MjA1!5e0!3m2!1sru!2sua!4v1589217372273!5m2!1sru!2sua"
        width="{{this.mapsWigth}}" height="{{this.mapsHeigth}}" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </section>
  </div>
</div>
