.gallery {
  overflow: hidden;
  position: relative;
  &__items {
    display: flex;
    transition: all .2s;
  }

  &__item {
    object-fit: cover;
  }

  &__arrow {
    position: absolute;
    z-index: 1;
    height: 100%;
    background-color: transparentize($color: white, $amount: 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-left {
      left: 0;
    }
    &-right {
      right: 0;
    }
  }
}

.gallery-arrow-wrapper {
  position: absolute;
  height: 100%;
}
