@import '../variables.scss';


.footer-wrapper {
  background: #f7f9fa;
  margin-top: 40px;
  padding-top: 25px;
}


.footer {

  &__copiright {
    color: $main-grey;
    font-family: $font-primary;
    font-weight: 400;
  }

  &__links {
    display: flex;
    list-style: none;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    margin-right: 1em;
    color: $main-link;

    &:visited {
      color: $main-link;
    }
  }
}