@import '../utils/line';
@import '../variables.scss';

.nav,
.nav__ul,
.nav-wrapper {
  display: flex;
}

.nav-wrapper {
  justify-content: space-between;
  line-height: 100%;
  @include line(2px);
}

.nav {
  justify-content: space-between;

  height: 27px;
  line-height: 27px;

  &__ul {
    margin: 0;
    padding-left: 0;
  }

  &__item {
    list-style: none;
    padding-right: 20px;
    font-size: 17px;
    color: $main-grey;
    font-family: $font-primary;

    &:hover {
      text-decoration: underline;
    }
  }


  &__link {
    text-decoration: none;
    color: $main-grey;
  }

  &__button {
    margin: auto 0;
    cursor: pointer;
  }
}