@import '../variables';
@import '../utils/line';
@import '../utils/fixed-lines';

.upper,
.page-wrapper, 
.footer {
  margin: 0 auto;
  max-width: $max-width;
}


.l-main {
  margin-top: 30px;
  display: grid;
  grid-template-rows: minmax(auto, 252px) 300px auto;
  grid-template-columns: 640px $max-width - 640px;
}

.main-article {
  display: flex;
  background-color: #f7f9fa;
  height: fit-content; 
  max-width: 100%;
  
  margin-bottom: 30px;
  
  border-bottom: 5px solid $main-red;
  
  &__image {
    min-width: 380px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  &__caption {
    // $font-size: 30px;
    $font-size: 30px;
    $line-height: 32px;
    @include fixed-lines($font-size, $line-height, 2);
    overflow: hidden;

    color: $main-red;
    font-family: "PT Serif";
    font-weight: 400;
    margin: 0;
    margin-bottom: 15px;
    cursor: pointer;

    &:hover {
      color: lighten($color: $main-red, $amount: 8);
    }
  }
  
  &__content {
    padding: 20px;
    position: relative;
  }
  
  &__counter {
    position: absolute !important;
    right: 10px !important;
    bottom: 10px !important;
    float: right;
  }
}

.counter {

  display: flex;
  position: relative;
  bottom: -25px;
  font-size: 1.5em;
  color: $main-red;

  &__value {
    font-size: 18px;
    letter-spacing: 0px;
    // line-height: 100%;
    color: $main-grey;
    font-family: $font-primary;
    font-weight: 700;
    margin-right: 3px;
    margin-left: 3px;
  }

  &__right,
  &__left {
    &:hover {
      cursor: pointer;
      color: lighten($main-red, 20);
    }
  }
}

.article {
  &__text {
    $font-size: 14px;
    $line-height: 18px;
    @include fixed-lines($font-size, $line-height, 6);
    color: $main-grey;
    font-family: $font-primary;
    font-weight: 400;
    // text-overflow: ellipsis;
    overflow: hidden;
    // padding-bottom: 25px;
  }
}

.heading-underlined {
  &__caption {
    margin: 0;
    padding-right: 10px;
    white-space: nowrap;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 30px;
    color: $main-grey;
    font-family: $font-primary;
    font-weight: 400;
  }

  &__line {
    @include line(2px);
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 940px) {
  .l-main {
    grid-template-rows: minmax(auto, 257px) auto auto auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .main-article {
    grid-row: 1 / 1;
    grid-column: 1 / 3;
  }
}
