.pagination {

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    margin: 0 3px;
    // cursor: pointer;
    // transition: .2s;

    // &:hover {
    //   background-color: ;
    // }
  }

  font-size: 1.3em;
  // font-weight: bold;
}
