<div class="content-wrapper">
  <div class="top-loader-container" *ngIf="this.ticketsLoading">
    <app-loader height="40px"></app-loader>
  </div>
  <div class="tickets-container" *ngIf="tickets">
    <p (click)="this.setCurrentPage(this.currentPage + 1)">tickets works!</p>
    <p (click)="this.setCurrentPage(this.currentPage - 1)">tickets works!</p>
    <section class="section" *ngIf="!this.paginatedTickets.length">
      <div class="section__title">
        No tickets yet
      </div>
      <p class="section__text">
        You haven't bounght any tickets yet. Go ahead and visit our cinema!
      </p>
      <button class="btn btn-primary" routerLink="/sessions">Go to film sessions</button>
    </section>
    <div class="ticket-wrapper" *ngFor="let ticket of this.paginatedTickets; trackBy:trackByFn">
      <app-ticket [ticket]="ticket"></app-ticket>
    </div>
  </div>
</div>
