<div class="content-wrapper">
  <div class="top-loader-container" *ngIf="this.ticketsLoading">
    <app-loader height="40px"></app-loader>
  </div>
  <section class="section" *ngIf="this.paginatedTickets && !this.paginatedTickets.length">
    <div class="section__title">
      No tickets yet
    </div>
    <p class="section__text">
      You haven't bounght any tickets yet. Go ahead and visit our cinema!
    </p>
    <button class="btn btn-primary" routerLink="/sessions">Go to film sessions</button>
  </section>
  <ul class="tickets-container" *ngIf="tickets">
    <li class="ticket-wrapper" *ngFor="let ticket of this.paginatedTickets; trackBy:trackByFn">
      <app-ticket [ticket]="ticket"></app-ticket>
    </li>
  </ul>
  <div class="pagination-container" *ngIf="this.tickets">
    <app-pagination [pageSize]="this.itemsPerPage" [total]="this.tickets.length" (pageChanged)="this.onPageChanged($event)" [initialPage]="this.currentPage"></app-pagination>
  </div>
</div>
