.tickets-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  grid-auto-rows: 1fr;
  align-items: stretch;
  list-style: none;
}

.pagination-container {
  margin-left: 15px;
  margin-top: 0;
}
