<div class="film-card" [ngStyle]="{'width': this.width + 'px', 'height': this.width * 3 / 2 + 'px'}">
  <div class="film-card__front" [class.film-card__flipable]="this.flip">
    <figure class="film-item">
      <img src="{{film.imageUrl}}" alt="{{film.title + ' image'}}" class="film-item__image">
    </figure>
  </div>
  <div class="film-card__back d-flex justify-content-around" [class.film-card__flipable]="this.flip" *ngIf="this.flip">
      <figcaption class="film-details">

        <div class="film-details__title text-center">
          {{film.title}}
        </div>
        <div class="film-details__duration duration">
          <span class="duration__text">
            <i class="fas fa-clock"></i>
            {{film.duration}} m
          </span>
        </div>

        <div class="details-list">
          <div class="details-list__name">{{film.directors.length > 1 ? 'Directors' : 'Director'}}</div>
          <span *ngFor="let dir of film.directors; index as index"
            class="details-list__value">{{dir + ((index === film.directors.length - 1) ? '' : ', ')}}</span>
        </div>

        <div class="details-list">
          <div class="details-list__name">{{film.genres.length > 1 ? 'Genres' : 'Genre'}}</div>
          <span *ngFor="let genre of film.genres; index as index"
            class="details-list__value">{{genre + ((index === film.genres.length - 1) ? '' : ', ')}}</span>
        </div>

        <div class="details-list">
          <div class="details-list__name">Session types</div>
          <span *ngFor="let type of film.sessionTypes; index as index"
            class="details-list__value">{{type + ((index === film.sessionTypes.length - 1) ? '' : ', ')}}</span>
        </div>

        <div class="film-details__date text-center">
          {{film.date | date: 'MMMM d, y'}}
        </div>
      </figcaption>

    <div class="button-wrapper d-flex justify-content-around" *ngIf="film.date <= currentDate">
      <button routerLink="/films/{{film.id}}"  class="button-wrapper__btn btn btn-secondary">Buy tickets</button>
    </div>
  </div>
</div>
