$moving-distandece: 50px;

.loader {
  animation: moving .9s ease-in-out infinite;
}

@keyframes moving {
  0% {
    transform: translateX(-$moving-distandece/2);
  }

  50% {
    transform: translateX($moving-distandece/2);
  }

  100% {
    transform: translateX(-$moving-distandece/2);
  }
}

.spinning {
  animation: spinnig .9s linear infinite;
}

@keyframes spinnig {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
