<div class="section-wrapper">
  <section class="auth-section section">
    <form class="form" [formGroup]="registerForm" (submit)="this.onSubmit()">

      <div class="form__group">
        <input class="form__control" type="text" formControlName="firstName" placeholder="First name">
        <input class="form__control" type="text" formControlName="lastName" placeholder="Last name">
      </div>

      <div class="form__group">
        <input class="form__control" [class.invalid]="!this.loginControl.valid && this.loginControl.touched"  type="text" formControlName="login" placeholder="Login">
      </div>
      <div class="form__group">
        <input type="password" class="form__control" formControlName="password" placeholder="Password" [class.invalid]="this.passwordsInvalid">
        <input type="password" class="form__control" formControlName="passwordRepeat" placeholder="Repeat password" [class.invalid]="this.passwordsInvalid">
        <p class="form__feedback text-danger" *ngIf="this.passwordsInvalid">Passwords differ or are to short. Min length is 3</p>
      </div>

      <button type="submit" class="btn btn-primary btn-block" [disabled]="!this.registerForm.valid">Register</button>
      <div class="form__divider divider">
        <p class="divider__text">
          Or use social networks
        </p>
      </div>
      <div class="social-btns d-flex justify-content-around">
        <button class="btn btn-google">
          <i class="fab fa-google"></i>
        </button>
      </div>
      <div class="form__divider divider">
        <p class="divider__text">
          Already have an account? <a class="text-link" routerLink="/auth/login">Login</a>
        </p>
      </div>
    </form>
  </section>
</div>
