.arrow {
  margin: 0 20px;
  font-weight: bold;

  &-left {
    &:hover {
      transform: translateX(-0.2em);
      cursor: pointer;
    }

    &[class*=arrow-image] {
      content: url('/assets/arrows/arrow-left.svg');
    }
  }

  &-right {
    &:hover {
      transform: translateX(0.2em);
      cursor: pointer;
    }

    &[class*=arrow-image] {
      content: url('/assets/arrows/arrow-right.svg');
    }
  }

  &:hover {
    transition: 0.2s;
    cursor: pointer;
  }
}
