@import '../variables.scss';
@import '../animations.scss';

.section {
  padding: 1rem;
  margin: 1rem;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  animation: fade-in .2s;
  position: relative;

  &__divider {
    width: 100%;
    height: 2px;
    background-color: $main-dark-blue;
  }

  &__image {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__img {
    display: block;
    object-fit: cover;
    width: 300px;
    height: 300px;
  }

  &__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  &__items {
    list-style: none;
    margin: 0;
  }

  &__item {
    display: flex;
  }

  &__text {
    font-size: 1.2em;
    margin: 10px 0;
    line-height: 1.3em;
  }

  &__title {
    border-bottom: 1px solid $main-dark-blue;
    font-size: 1.4em;
    padding-bottom: 0.5em;
    margin: 7px 0;
  }

  &__subtitle {
    font-size: 1.3em;
    margin: 10px 5px;
  }

  &-transparent {
    background: $color-bg;
  }

  &-row {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: ($md + $sm) / 2) {
      flex-direction: column;
    }
  }

  @media screen and (max-width: $sm) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

