@import '../../../shared/styles/variables.scss';

.navbar {
  position: fixed;
  top: 0;
  height: 100vh;
  background: $main-black;
  color: $main-grey;
  transition: 0.2s;

  z-index: 30;

  &__items {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: space-around;
  }

  // hover
  &-active  {
    display: block !important;
    .item {
      transition: all 0.2s;
      &__text {
        display: inline-block;
        margin-right: 2em;
        align-self: center;
      }
    }
  }

}

.mobile-title-bar {
  display: none;
  position: sticky;
  top: 0;
  background: $main-black;
  color: $main-grey;
  z-index: 10;
}

.item {
  margin-top: 1em;
  display: flex;
  align-items: flex-start;
  width: 100%;
  cursor: pointer;

  &:hover {
    // color: lighten($color: $main-grey, $amount: 20);
    color: $main-blue;
  }

  &.item-important {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  &__icon {
    min-width: $nav-left-width;
    text-align: center;
  }

  &__text {
    display: none;
  }
}

@media screen and (max-width: $sm) {
  .mobile-title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading {
      margin: 0;
      padding: 0.2em;
    }

    .navbar-toggle {
      padding-right: 0.5em;
    }
  }

  .navbar {
    display: none;
  }
}
