<header class="header">
  <nav class="nav">
      <ul class="nav__items" [class.nav__items-active]="this.isNavbarExpanded" id="nav-items">
          <li class="nav__item" routerLink="/home">Home</li>
          <li class="nav__item" routerLink="/films">Films</li>
          <li class="nav__item" routerLink="/contacts">Contact us</li>
          <ng-container *ngIf="this.authService.currentUser | async; else elseAuthTemplate">
            <li class="nav__item nav__item-dropdown ml-auto" (click)="this.toggleDropdown()">
              <div class="nav__item nav__item-user d-flex">
                <app-user-ava [src]="(this.authService.currentUser | async).avaUrl"></app-user-ava>
                {{(this.authService.currentUser | async).firstName}} {{(this.authService.currentUser | async).lastName}}
              </div>
              <ul class="nav__items d-flex flex-column" [class.nav__items-dropped]="this.isDropdoenExpanded">
                <li class="nav__item">My tickets</li>
                <li class="nav__item" (click)="this.onLogout()">Log out<i class="fas fa-sign-out-alt"></i></li>
              </ul>
            </li>
          </ng-container>
          <ng-template #elseAuthTemplate>
            <li class="nav__item ml-auto" routerLink="/auth/login">Login</li>
            <li class="nav__item" routerLink="/auth/register">Sign up</li>
          </ng-template>

      </ul>

      <div class="nav__toggle" (click)="toggleNavbar()">
          <div class="nav__toggle-btn"></div>
      </div>
  </nav>
</header>
