@import '../../shared/styles/animations.scss';

.collapse-container {
  max-width: 98%;
  height: 0;
  opacity: 0;
  padding: 10px;
}

.expanded {
  height: auto;
  opacity: 1;
  animation: fade-in .2s ease-in;
}
