@import '../../variables.scss';
@import '../../../styles.scss';

.overlay {
  $height: 400px;
  height: $height;
  background-color: transparentize($main-black, 0.3);
  z-index: 10;

  &__text {
    margin: 0;
    font-size: 2.7em;
    font-family: 'Muli', sans-serif;
    padding-top: $height / 3;
    padding-left: 1em;
    color: white;
  }
}

.carousel {
  height: 100%;
  position: relative;
  margin-bottom: 2em;
  &__item {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__dots {
    margin-top: -2em;
  }

  &__dot {
    z-index: 20;
    margin-right: 0.5em;
    margin-left: 0.5em;
    background-color: white;
    height: 1em;
    width: 1em;
    border-radius: 50%;

    &:hover, &-active {
      cursor: pointer;
      background-color: darken($color: white, $amount: 50);
      transition: all 0.2s;
    }
  }
}

