<section class="carousel">
  <div class="carousel__items d-flex">
    <div class="carousel__item" *ngFor="let item of items; index as index"
      [ngStyle]="{'background-image': 'url(' + item.backgroudSrc + ')'}"
      [@openedClosed]="index === currentCarouselIndex ? 'opened' : 'closed'">
      <div class="overlay">
        <p class="overlay__text">{{item.title}}</p>
      </div>
    </div>
  </div>
  <div class="carousel__dots d-flex justify-content-center">
    <div class="carousel__dot"
    *ngFor="let dot of dots; index as index"
    [class.carousel__dot-active]="index === currentCarouselIndex"
    (click)="this.currentCarouselIndex = index"
    ></div>
  </div>
</section>
<p (click)="prev($event)">left</p>
<p (click)="next($event)">rigth</p>
