<section class="carousel">
  <div class="carousel__items">
    <div class="carousel__item" *ngFor="let item of items; index as index"
      [ngStyle]="{'background-image': 'url(' + item.backgroudSrc + ')'}"
      [@openedClosed]="index === getCurrentCarouselIndex() ? 'opened' : 'closed'">
      <div class="overlay">
        <p class="overlay__text">{{item.title}}</p>
      </div>
    </div>
  </div>
  <div class="carousel__dots">
    <div class="carousel__dot"
    *ngFor="let dot of dots; index as index"
    [class.carousel__dot-active]="index === getCurrentCarouselIndex()"
    (click)="this.setCurrentCarouselIndex(index)"
    ></div>
  </div>
</section>
